<div class="card card-body p-4 rounded-8 bg-dark text-white">

  <h3>Task list</h3>

  <form action="/tasks/add" method="post">

    <div>
      <label for="title">Write a title:</label><br />
      <input
        type="text"
        name="title"
        placeholder="Title"
        id="title"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div><br />

    <div>
      <label for="description">Write a description:</label><br />
      <textarea
        name="description"
        placeholder="Description"
        id="description"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div><br />

    <div>
      <label for="important">Select priority level</label>
      <select
        name="important"
        class="form-select rounded-0 bg-dark text-white"
        aria-label="Default select example"
        id="important"
      >
        <option value="Important" selected>Important</option>
        <option value="Urgent">Urgent</option>
      </select>
    </div>

      <div class="text-center">
        <button class="btn btn-danger btn-lg m-2">Add task</button>
      </div>
    
  </form>
</div><br>  